body {
    margin: 0px;
}
@keyframes fadein {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
.header {
    animation-name: fadein;
    animation-duration: 800ms;
    padding: 5vw;
    background-color: #ffb3d9;
    color: white;
    text-align: center;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8vw;
    font-weight: 200;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
}
p {
    animation-fill-mode: both;
    animation-name: fadein;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-timing-function: ease-in;
    padding-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
}