* {
  color: #444;
  --box-shadow: 
    0.5px 1px 1px hsl(0deg 0% 40% / 0.075),
    1px 2px 2px hsl(0deg 0% 40% / 0.075),
    2px 4px 4px hsl(0deg 0% 40% / 0.075),
    4px 8px 8px hsl(0deg 0% 40% / 0.075),
    8px 16px 16px hsl(0deg 0% 40% / 0.075)
    ;
--box-shadow-smol: 
    0.5px 1px 1px hsl(0deg 0% 40% / 0.075),
    1px 2px 2px hsl(0deg 0% 40% / 0.075),
    2px 4px 4px hsl(0deg 0% 40% / 0.075)
    ;
}


body {
    width: 60%;
    background-color: #eee;
    margin: auto;
    max-width: 700px;
    color: #333;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 4rem;
}

.lol {
    display: flex;
    width: 100%;
}

button {
    color: #333;
    margin: auto;
    background-color: #ccc;
    border: 0;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: 0 1px 10px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 10%);
    text-align: center;
    max-width: 169px;
    transition-duration: 0.15s;
}

button:hover {
    background-color: #ffb3d9;
    box-shadow: 0px 5px 20px 5px rgb(255 179 217 / 70%), 0 1px 5px rgb(0 0 0 / 10%);
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

hr {
  max-width: 70%;
  border: #ccc solid 1px;
  margin: 4rem auto;
}
kbd {
  border-radius: 2px;
  padding: 0.1rem 0.5rem;
  background: #ccc;
  box-shadow: var(--box-shadow-smol);
}
